

# Ignore build files when running `compile.sh`
*~
*.o
*.a
/autom4te.cache
config.log
config.h
config.h.in
config.status
configure
dbclient
dropbear
dropbearconvert
dropbearkey
scp
Makefile
# NOTE: build files can be cleaned with `git clean -f`
